@import  './_variables.scss';
@import  './UI/_input.scss';
@import  './UI/_dropdown.scss';
@import './MovieDetail.scss';
@import './MoviesList.scss';

*, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--primary--font-color);
  font-family: 'Poppins', sans-serif;
}

#root {
    min-height: 100vh;
    background-color: var(--root-backroud-color);
}

#search-field {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.category-selector-container {
    padding: 0 25px;
}