#movies-list {
    .container {
        display: block;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 0 50px;

        ul {
            display: grid;
            grid-gap: var(--grid-column-gap);
            grid-template-columns: var(--grid-column-width) var(--grid-column-width) var(--grid-column-width) var(--grid-column-width);

            li {
                list-style-type: none;
                cursor: pointer;

                a {
                    display: block;
                    text-decoration: none;

                    .image-container {
                        min-height: 420px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
    
                        img {
                            max-width: 100%;
                            max-height: 420px;
                            border-radius: 15px;
                            transition: .25s ease-in-out;
                        }
                    }
    
                    h1 {
                        display: block;
                        margin: 15px 0;
                        font-size: 20px;
                        text-decoration: none;
                        font-weight: 500;
                    }

                    &:hover {

                        img {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}