.dropdown-container {
    position: relative;
    cursor: pointer;

    .selected-value {
        padding: 10px 20px;
        border: 2px solid #b3b3b3;
        border-radius: 25px;
        font-size: 18px;
        background-color: #1a1a1a;
        color: #b3b3b3;
    }

    .values-container {
        position: absolute;
        display: none;
        padding: 10px 10px 10px 20px;
        border: 2px solid #b3b3b3;
        border-radius: 25px;
        font-size: 18px;
        background-color: #1a1a1a;
        color: #b3b3b3;
        margin-top: 10px;
        z-index: 3;

        ul {
            overflow-y: scroll;
            max-height: 250px;

            li {
                list-style-type: none;
                padding: 5px 0;
                transition: .25s ease-in-out;
                padding-right: 10px;
    
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &.active {

        .values-container{
            display: block;
        }
    }

    ::-webkit-scrollbar {
        width: 5px;
    }
  
    ::-webkit-scrollbar-track {
        background: #1a1a1a;
    }
  
    ::-webkit-scrollbar-thumb {
        background: #b3b3b3;
        border-radius: 5px;
    }
}